.lex-web-ui-iframe {
  bottom: 1.5rem;
  display: none;
  /* hidden by default changed once iframe is loaded */
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 3vw;
  margin-top: 2px;
  max-width: 66vw;
  height: 80vh;
  /* dynamically changed on iframe maximize/minimize */
  min-width: calc(50vw - 3vw);
  /* half viewport width minus margin right */
  position: fixed;
  right: 0;
  z-index: 99;
  /* max z-index (2147483647) - 10 */
  color-scheme: initial;
}

.lex-web-ui-iframe iframe {
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.lex-web-ui-iframe--show {
  display: flex;
}

.lex-web-ui-iframe--minimize {
  max-width: 110px !important;
  max-height: 182px !important;
  min-width: 110px;
}

.lex-web-ui-iframe iframe {
  overflow-y: hidden;
  overflow-x: visible;
  width: 100%;
  height: 100%;
}

.lex-web-ui-iframe.lex-web-ui-iframe--show.dismissIcon-minimizingIframePopupMessage.lex-web-ui-iframe--minimize {
  min-width: 80px !important;
}

.lex-web-ui-iframe--partially-minimized {
  max-width: 110px;
  max-height: 182px !important;
  min-width: 428px;
}

.lex-web-ui-iframe.lex-web-ui-iframe--partially-minimized iframe {
  box-shadow: none;
  border-radius: none;
}

.tease-bubble-display-none {
  display: none;
}

/* disable box shadow when minimized */
.lex-web-ui-iframe.lex-web-ui-iframe--minimize iframe {
  box-shadow: none;
  border-radius: none;
}

/* hide on very small resolutions */
@media only screen and (max-width: 240px),
only screen and (max-height: 256px) {
  .lex-web-ui-iframe {
    display: none !important;
  }

  .lex-web-ui-iframe--minimize {
    max-width: 80px !important;
    max-height: 182px !important;
    min-width: 80px !important;
  }
}

/* take most space on small resolutions (smart phones) */
@media only screen and (min-width: 241px) and (max-width: 500px) {
  .lex-web-ui-iframe {
    min-width: 96vw;
    height: 84vh;
    margin-right: 2vw;
    align-self: center;
  }

  .lex-web-ui-iframe--minimize {
    max-width: 190px !important;
    max-height: 85px !important;
    border-radius: 85px !important;
  }
}

.message-list-wrapper {
  display: none !important;
  z-index: -1 !important;
}

/* adjust down on medium resolutions */
@media only screen and (min-width: 501px) and (max-width: 960px) {

  .lex-web-ui-iframe.lex-web-ui-iframe--show.lex-web-ui-iframe--minimize {
    max-width: 110px !important;
    max-height: 182px !important;
    min-width: 110px;
  }

  .lex-web-ui-iframe.lex-web-ui-iframe--show.lex-web-ui-iframe--minimize.lex-web-ui-partially--minimize {
    max-width: 100px !important;
    max-height: 182px !important;
    min-width: 428px !important;
  }
}