/* BUBBLES */
.message-bot .chip[data-v-4f01cfd4], .message-bot .chip[data-v-46cd8705], 
.message-bot .chip[data-v-4f01cfd4] a, .message-bot .chip[data-v-46cd8705] a,
.message-bot .message-bubble[data-v-4f01cfd4],.message-bot .message-bubble[data-v-46cd8705],
.red.lighten-5 {
background: #000 !important;
color: #FFF !important;
font-size: 12px !important;
}

.headline {
  font-size: 16px !important;
}

.chip {
  border-radius: 5px;
  font-size: calc(.8em + .25vmin) !important;
}

.icon.dialog-state-fail[data-v-4f01cfd4], .icon.dialog-state-fail[data-v-46cd8705],
.application a {
color: #FFF !important;
}

.application .theme--dark.toolbar {
  background: #434343 !important;
}

.icon.dialog-state-ok[data-v-4f01cfd4], .icon.dialog-state-ok[data-v-46cd8705] {
  display: none !important;
}

/* REMOVE OPEN/CLOSE ARROW FOR BOT */
button.min-max-toggle.btn.btn--icon {
  display: none !important;
}


/* WORD WRAPPING */
/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */

.message-bot .chip[data-v-4f01cfd4] a, .message-bot .chip[data-v-46cd8705] a {
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* TOOLBAR */
.toolbar__title {
  font-size: 15px;
}